#test   {text-align: center; color: lightsalmon;}
p{text-align: center;}
html{padding: 10%;}
body{background-color: #333333;}

h1{text-align: right;}
body{background-image: url(https://promotions.hu/files/article/72603/crop/1568527831_endgame-tony-stark-character-poster/1568527831_endgame-tony-stark-character-poster_1180_550_4.jpg);}
